<header class="letter">
    {{ partial "letter/to" . }}
    {{ partial "letter/regarding" . }}

    <div class="letter-title-wrapper">
        <h2 class="letter-title">
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
        </h2>
    
        {{ with .Params.subtitle }}
        <h3 class="letter-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{- $blurb := split (trim .Params.blurb "\nb") "\n\n" -}}
    {{ with $blurb }}
    <div class="blurb">
        {{ range . }}
            <p>
                {{ . }}
            </p>
        {{ end }}
    </div>
    {{ end }}

    {{ if or (not .Date.IsZero) (ne .Lastmod .Date) }}
    <section class="dates">
        {{ if not .Date.IsZero }}
        <time class="published">
            {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
        </time>
        {{ end }}

        {{- if ne .Lastmod .Date -}}
        <span class="updated-at">
            Updated at
            <span>
                {{ T "article.lastUpdatedOn" }} {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
            </span>
        </span>
        {{- end -}}
    </section>
    {{ end }}

    {{ if .IsTranslated }}
        <footer class="letter-translations">
            Translations
            <div>
                {{ range .Translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</header>

