<div class="site-title">
    <h1><a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a></h1>
    <p class="subtitle">{{ .Site.Params.site.subtitle }}</p>
</div>

<nav class="site-menu">
    <ol>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}

        <li {{ if $active }} class='current' {{ end }}>
            <a href='{{ .URL | relLangURL }}' {{ if eq .Params.newTab true }}target="_blank"{{ end }}>
                {{ $icon := default .Pre .Params.Icon }}
                {{ if .Pre }}
                    {{ warnf "Menu item [%s] is using [pre] field to set icon, please use [params.icon] instead.\nMore information: https://docs.stack.jimmycai.com/configuration/custom-menu.html" .URL }}
                {{ end }}
                <span>{{- .Name -}}</span>
            </a>
        </li>
        {{ end }}

        <!--
        <div class="menu-bottom-section">
            {{- $currentLanguageCode := .Language.Lang -}}
            {{ with .Site.Home.AllTranslations }}
                <li id="i18n-switch">
                    <select name="language" onchange="window.location.href = this.selectedOptions[0].value">
                        {{ range . }}
                            <option value="{{ .Permalink }}" {{ if eq .Language.Lang $currentLanguageCode }}selected{{ end }}>{{ .Language.LanguageName }}</option>
                        {{ end }}
                    </select>
                </li>
            {{ end }}
        </div>
        -->
    </ol>
</nav>