<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
    <head>
        {{- partial "base/head" . -}}
        {{- block "head" . -}}{{ end }}
    </head>
    <body class="{{ block `body-class` . }}{{ end }}">
        <div id="site">
            <header class="site">
                {{ partial "site/header" . }}
            </header>
            <main class="{{ block `body-class` . }}{{ end }}">
                {{- block "main" . }}{{- end }}
            </main>
            <footer class="site">
            {{ partial "site/footer" . }}
            </footer>
        </div>
        {{- partial "base/script" . -}}
        {{- block "script" . -}}{{ end }}
    </body>
</html>
