/* karma-600 - latin-ext_latin */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 600;
  src: local(''), 
    url('../font/karma-v11-latin-ext_latin-600.woff2') format('woff2'),
    url('../font/karma-v11-latin-ext_latin-600.woff') format('woff');
}

/* karla-regular - latin-ext_latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../font/karla-v15-latin-ext_latin-regular.woff2') format('woff2'),
    url('../font/karla-v15-latin-ext_latin-regular.woff') format('woff');
}
/* karla-700 - latin-ext_latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../font/karla-v15-latin-ext_latin-700.woff2') format('woff2'),
    url('../font/karla-v15-latin-ext_latin-700.woff') format('woff');
}
/* karla-italic - latin-ext_latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../font/karla-v15-latin-ext_latin-italic.woff2') format('woff2'),
    url('../font/karla-v15-latin-ext_latin-italic.woff') format('woff');
}
/* karla-700italic - latin-ext_latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('../font/karla-v15-latin-ext_latin-700italic.woff2') format('woff2'),
    url('../font/karla-v15-latin-ext_latin-700italic.woff') format('woff');
}

@font-face {
    font-family: 'UnifrakturMaguntia';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../font/unifrakturmaguntia-v16-latin-regular.woff2') format('woff2'),
         url('../font/unifrakturmaguntia-v16-latin-regular.woff') format('woff');
}