:root {
    --color-structure-bg: #ffffff;
    --color-structure-canvas: #F5F7F9;
    --color-structure-wash: #F9FbFd;
    --color-structure-border: #ECEEF5;
    --color-structure-divider: #F6F7F8;

    --dim-rem-to-px: 16;
}
