{{ define "main-class" }}
    top
{{ end }}

{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" "letter" }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <section class="letter-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "letter/brief" . }}
        {{ end }}
    </section>
    <section class="sidebar">
        {{ partial "site/sidebar" . }}
    </section>

    {{- partial "pagination.html" . -}}
{{ end }}
